<div class="settings-panel-background" data-bind="css: { 'settings-panel-background-hidden': !isVisible }, click: closeIfClickOnBackground">
    <div class="settings-panel">
        <div class="settings-panel-callout"></div>
        <div class="settings-panel-body">
            <div class="settings-panel-section">
                <div class="settings-panel-section-header">View</div>
                <div class="settings-panel-section-content">
                    <div class="settings-panel-map-view-button" data-bind="click: select2D, css: { 'settings-panel-map-view-button-selected': application.viewerMode === 2 }">2D</div>
                    <div class="settings-panel-map-view-button" data-bind="click: select3DSmooth, css: { 'settings-panel-map-view-button-selected': application.viewerMode === 1 }">3D Smooth</div>
                    <div class="settings-panel-map-view-button" data-bind="click: select3DTerrain, css: { 'settings-panel-map-view-button-selected': application.viewerMode === 0 }">3D Terrain</div>
                </div>
            </div>
            <div class="settings-panel-section">
                <div class="settings-panel-section-header">Base Map</div>
                <div class="settings-panel-section-content">
                    <div class="settings-panel-base-map-label" data-bind="text: mouseOverBaseMap ? mouseOverBaseMap.catalogItem.name : application.baseMap.name"></div>
                    <div class="settings-panel-base-map-choices" data-bind="foreach: baseMaps">
                        <img class="settings-panel-base-map-button" data-bind="attr: { src: image, title: catalogItem.name }, css: { 'settings-panel-base-map-button-selected': catalogItem === $root.application.baseMap }, event: { mouseover: $root.changeHighlightedBaseMap.bind($root), mouseout: $root.resetHightedBaseMap.bind($root) }, click: $root.selectBaseMap.bind($root)" width="75" height="75" />
                    </div>
                </div>
            </div>
            <div class="settings-panel-section">
                <div class="settings-panel-section-header">Adjustment</div>
                <div class="settings-panel-section-content">
                    <table>
                        <tbody><tr>
                            <td>Brightness</td>
                            <td>
                                <input type="range" min="0" max="3" step="0.02" data-bind="value: brightness, valueUpdate: 'input'">
                                <input type="text" size="5" data-bind="value: brightness">
                            </td>
                        </tr>
                        <tr>
                            <td>Contrast</td>
                            <td>
                                <input type="range" min="0" max="3" step="0.02" data-bind="value: contrast, valueUpdate: 'input'">
                                <input type="text" size="5" data-bind="value: contrast">
                            </td>
                        </tr>
                        <tr>
                            <td>Hue</td>
                            <td>
                                <input type="range" min="0" max="3" step="0.02" data-bind="value: hue, valueUpdate: 'input'">
                                <input type="text" size="5" data-bind="value: hue">
                            </td>
                        </tr>
                        <tr>
                            <td>Saturation</td>
                            <td>
                                <input type="range" min="0" max="3" step="0.02" data-bind="value: saturation, valueUpdate: 'input'">
                                <input type="text" size="5" data-bind="value: saturation">
                            </td>
                        </tr>
                        <tr>
                            <td>Gamma</td>
                            <td>
                                <input type="range" min="0" max="3" step="0.02" data-bind="value: gamma, valueUpdate: 'input'">
                                <input type="text" size="5" data-bind="value: gamma">
                            </td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
            <div class="settings-panel-close-button" data-bind="click: close">&times;</div>
        </div>
    </div>
</div>
